/*Kolom Pencarian*/
.wrapper {
  /*margin: 294px 438px 0;*/
  /* margin: 164px 391px 0 450px; */
  margin: 0 391px 0 450px;
  z-index: 1;
}

.wrapper .search {
  background: white;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 5px 3px rgba(0, 0, 0, .12);
}

.wrapper .search a {
  color: black;
  /* padding: 15px 10px; */
}

.wrapper .search a:hover {
  background-color: skyblue;
  color: white;
  width: 100%;
}

 .search.active .search-list {
  opacity: 1;
  pointer-events: auto;
} 

.search input {
  height: 32px;
  width: 340px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  font-size: 18px;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}

.search input::placeholder {
  text-align: center;
}

.search-list {
  display: flex;
  flex-direction: column;
  max-height: 280px;
  overflow-y: auto;
  /* opacity: 0; */
  /* pointer-events: none; */
}

/*.search-list li {
  display: none;
}*/

.search-list li span a {
  padding: 8px 10px;
  font-weight: 400;
  font-size: 20px;
  /* text-align: center; */
  align-items: center;
  display: flex;
}

.search-list li span a img {
  border: 2px solid black;
  border-radius: 50%;
  height: 38px;
  flex: 1;
}

.search-list li span a h5 {
  flex: 8;
  margin-left: 10px;
}