/*Tombol Login*/
.login button {
  background-color: #1a1a1a;
  color: white;
  border: none;
  outline: none;
  font-size: 24px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 3px rgba(0, 0, 0, .12);
}

.login button:hover {
  background-color: #474747;
  cursor: pointer;
}
